<!DOCTYPE html>
<html>

<head>
    <title>{{title}} - Responsive Paper Docs</title>
    <link rel="preload" href="/docbrowser/fonts/dbicons.woff" as="font" crossorigin />

    <link rel="stylesheet" href="/docbrowser/db-layout.css" />
    <link rel="stylesheet" href="/docbrowser/db-appearance.css" />
    <script src="/docbrowser/db-script.js"></script>

    <!--
    <link rel="stylesheet" href="/docbrowser/db-combined.min.css" />
    <script src="/docbrowser/db-script.min.js"></script>
    -->

    <link rel="stylesheet" href="/css/db-customize.css" />
    <meta name="viewport" content="initial-scale=1">

    <!-- Include other prism below as required -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism-okaidia.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/components/prism-markup.min.js"></script>
</head>

<body>
    <header>
        <!-- This button appears on narrow screens and shows the nav tree when clicked -->
        <a id="show-nav-button" href="#"><i class="icon-menu"></i></a>

        <!-- A small icon shown to the left of the main title -->
        <div class="image-section" id="project-icon">
            <img src="/chrome_topten_icon.png" />
        </div>

        <!-- A wide icon/logo show to the left of the main title -->
        <div class="image-section" id="project-logo">
            <img src="/chrome_topten_horz_light.png" />
        </div>

        <!-- The main heading area -->
        <div class="inner">
            <a href="/">Responsive Paper</a> <small>v0.1</small>
        </div>

        <!-- Links shown in the top-right hand corner of the page -->
        <div id="header-links">
            <a href="https://www.responsivepaper.com">Responsive Paper</a>
            <a href="https://github.com/responsivepaper">GitHub</a>
        </div>
    </header>

    <div id="body-container">

        <nav id="nav-primary">
            <div id="nav-content" class="hidden">
                <input type="search" placeholder="Filter" id="nav-filter" />

                <!--
        This is the main navigation tree.

        * `data-autoexpanders` causes doc browser to automatically adds
            the css "expander" class to all contains nested divs.

        * `data-key` is the key name used for session storage. If your
            site has multiple docbrowsers, each should have a
            unique key here.
        -->
                <div id="nav-tree" data-autoexpanders data-key="docbrowser">

                    <!--
            This entire section should be replaced with your navigation
            tree.  Each item in the tree should be either a leaf node
            of the format:

                 <li><a>text</a></li>

            or an expandable group of elements of the form

                <div>
                    <label>Text</label>
                    <ul>
                        [[Nest other items here]]
                    <ul>
                </div>

            By default, nav tree filtering is done on the text of `<a>` elements
            in the tree.  You can change the text used for an item's search
            text, with a `data-filter-text` attribute
            -->

                    <div>
                        <label>Responsive Paper</label>
                        <ul>
                            <li><a href="/">Overview</a></li>
                            <li><a href="/getting-started">Getting Started</a></li>
                        </ul>
                    </div>
                    <div>
                        <label>Tutorial & Examples</label>
                        <ul>
                            <li>
                                <div>
                                    <label>Tutorial</label>
                                    <ul>
                                        <li><a href="/tutorial/step1">Step 1 - Initial HTML and environment set up</a>
                                        </li>
                                        <li><a href="/tutorial/step2">Step 2 - Tag the page container and paper size</a>
                                        </li>
                                        <li><a href="/tutorial/step3">Step 3 - Add a page header</a></li>
                                        <li><a href="/tutorial/step4">Step 4 - Add a page footer</a></li>
                                        <li><a href="/tutorial/step5">Step 5 - Add page numbers</a></li>
                                        <li><a href="/tutorial/step6">Step 6 - Add group headers</a></li>
                                        <li><a href="/tutorial/step7">Step 7 - Add table of contents</a></li>
                                        <li><a href="/tutorial/step8">Step 8 - Add cover page</a></li>
                                        <li><a href="/tutorial/step9">Step 9 - Make your report responsive for different
                                                paper sizes</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <label>Examples</label>
                                    <ul>
                                        <li><a href="/examples/invoice">Invoice</a></li>
                                        <li><a href="/examples/catalog">Catalog</a></li>
                                        <li><a href="/examples/labels">Mailing Labels</a></li>
                                        <li><a href="/examples/stock-report">Stock Report</a></li>
                                        <li><a href="/examples/kendo-invoice">Kendo Invoice</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <label>Reference</label>
                        <ul>
                            <li>
                                <div>
                                    <label>Layout Classes</label>
                                    <ul>
                                        <li><a href="/ref/page">rp-page</a></li>
                                        <li><a href="/ref/page">rp-page-header</a></li>
                                        <li><a href="/ref/page-number">rp-page-number</a></li>
                                        <li><a href="/ref/page-number">rp-page-count</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <label>Paper Sizes & Orientation</label>
                                    <ul>
                                        <li><a href="/ref/paper-size#landscape">Portrait and Landscape (*-ls)</a></li>
                                        <li><a href="/ref/paper-size#letter">Letter</a></li>
                                        <li><a href="/ref/paper-size#legal">Legal</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div id="article-container">

            <nav id="nav-secondary">
                <h3>On this page</h3>
            </nav>

            <article>
                <!--
                Render you main body content here.

                Any `h1`, `h2` or `h3` headings with an `id` attribute
                will be automatically included in the "On this page"
                side bar.  By default the text used will be the same
                as the heading text, but you can change this with an
                data-nav-secondary-text attribute.

                These headings will also automatically get an anchor
                link icon that appears when the user hovers over the heading.
                -->
                {{{body}}}
            </article>

        </div>
    </div>

    <footer>
        <!-- Text/links on RHS of footer -->
        <div class="rhs">Responsive Paper</div>

        <!-- Text/links on LHS of footer -->
        <a href="http://www.responsivepaper.com">Responsive Paper</a>
    </footer>
</body>

</html>