<h1>Introduction</h1>

{{#markdown}}
Responsive Paper is a revolutionary way to design and build pdf reports using pure html, javascript and css. No more
SSRS, Crystal Reports and all the frustrating limitations that those
frameworks provide. Test

* Create pdf reports using your favorite client side html/js/css framework (e.g. Vue, React, etc)
* Use millions of js libraries for charting, etc
* Design once for multiple pdf paper sizes
* Many common formats supported (Letter, Legal, A6, A5, A4, A3, etc)
* Portrait or landscape orientaion
* Page numbering
* Page number links (e.g. Table of Contents, Indexes)
* Page headers
* Group headers
* Force Page breaks
* Canvas support for js rendering libraries
* Screen or print media type
* Webfont support
* Debug logs
{{/markdown}}